
 <div class="border w-1/2 border-current rounded-3xl p-3 m-5 bg-gray-50"">
    <a href="<%= recipe_path(recipe) %>" class="rounded-xl flex items-center p-5 hover:bg-slate-300 transition-all">
      <div>
        <h2 class="capitalize font-bold text-2xl text-left">
          <%= recipe.name %>
        </h2>
        <div class="line-clamp-2 text-slate-500">
          <%= recipe.description %>
        </div>
      </div>
    </a>

    <div class="text-right">
      <%= button_to 'Delete', recipe_path(id: recipe.id), method: :delete, class: 'border px-3 py-1 text-white bg-red-500 my-5 rounded-lg hover:scale-105 transition-all' %>
    </div>
  </div>
